body {
	margin: 0;
	overflow: hidden;

	/* make this can't select any text */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: url("assets/img/icon/Ingame/cursor/cursor.png"), auto;
}
