#inventory-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1px;
    border: 3px solid rgb(104, 104, 104);
    background-color: rgba(152, 152, 152, 0.467);
    overflow: hidden;
    border-radius: 7px;
    animation: none;
    transition: grid-gap 0.5s ease, width 0.3s ease, height 0.5s ease, transform 0.5s ease-in-out, overflow 1s;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
}

#inventory-container:hover {
   grid-gap: 10px;
   overflow: visible;
}


@keyframes open-up {
    0%{
        width: 0;
        height: 0;
        overflow:hidden;
    }

    50%{
        width: 204px;
        height: 0;
        overflow: hidden;
    }

    100%{
        width: 204px;
        height: 163px;
        }
}

@keyframes close-up {
    0%{
        width: 204px;
        height: 163px;
        overflow: hidden;
    }

    50%{
        width: 204px;
        height: 0;
        overflow: hidden;
    }

    75%{
        width: 0;
        height: 0;
        overflow: hidden;
    }

    90%{
        width: 0;
        height: 0;
        overflow: hidden;
    }
    
    100%{
        width: 0;
        height: 0;
        display: none;
    }
}

.inventory-collumn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    background-color: rgb(152, 152, 152);
    width: 40px;
    height: 40px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    word-wrap: break-word;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.5s ease, background-color 0.3s ease, color 1s linear, font-size 0.2s, text-shadow 0.4s, transform 0.5s linear;
    word-wrap: break-word;
}

#inventory-container:hover .inventory-collumn {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
    background-color: rgb(71, 71, 71);
    color:rgb(149, 149, 149);
    font-size: 15px;
    text-shadow: 0px 3px 5px rgba(168, 193, 151, 0.825);
    transform: rotateZ(5deg) rotateX(5deg) rotateY(5deg) scale3d(1.1, 1.1, 1.1) translateX(-10px);
    transform-origin: center;
    word-wrap: break-word;

}
#inventory-container:hover .inventory-collumn p {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    transform-origin: center;
    word-wrap: break-word;
}

#inventory-container:hover .inventory-collumn:hover {
    transition: background 0.1s, border 1s, transform 0.2s linear;
    background: rgb(102, 102, 102);
    border: 1.3px solid rgba(255, 255, 255, 0.5);
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg) scale3d(1.1, 1.1, 1.1) translateX(-10px);
    word-wrap: break-word;
}

.inventory-collumn:active {
    background: rgb(210, 210, 210);
    word-wrap: break-word;
}

.inventory-collumn.over{
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    background: rgb(30, 30, 30);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
}

.inventory-collumn p img {
    width: 25px;
    height: 25px;
    image-resolution: from-image;
    display: block;
    margin: auto;
    word-wrap: break-word;
}